body {
	background: #806b2c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #DED2A8;
	border-radius: 15px;
	animation: transitionIn 2.5s;
}

@keyframes transitionIn {
	from {
	  opacity: 0;
	  transform: translateY(-30px);
	}
	to{
	  opacity: 1;
	  transform: translateY(0);
	}
  }
h2 {
    color: #626262;
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #626262;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #806b2c;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	background: #302718;
}
.error {
   background: #584818;
   color: #C7AB59;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #8bb495;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #1d1602;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #626262;
}
.ca:hover {
	text-decoration: underline;
} 

.home-nav a {
	padding: 10px;
	color: #C7AB59;
	text-transform: uppercase;
	text-decoration: none;
}